---
---

@import "base";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
}

img {
	max-width: 100%;
}

.header {
	width: 100%;
	padding: 10px;
	background-color: #5dd5e8;
	box-shadow: 0px 2px 5px  gray;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-title-inner {
	display: flex;
}

.header-title {
	font-size: 20px;
	padding: 5px;
}

.header-icon {
	height: 56px;
	width: 56px;
	border-radius: 100%;
}

.header-list {
	display: flex;
	list-style: none;
	gap: 12px;
}

.header-item > a{
	text-decoration: none;
	color: black;
}

.content {
	padding: 25px;
}

.quote-container {
	text-align: center;
}

#quote {
	font-weight: bold;
}
